{% load static %}
<!DOCTYPE html>
<html>
<title>Data Lineage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style id="css">
	.clusters rect {
	  fill: #00ffd0;
	  stroke: #999;
	  stroke-width: 1.5px;
	  font-size: 14px;
	}

	text {
	  font-weight: 100;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
	  font-size: 10px;
	}

	.node rect {
	  stroke: #999;
	  fill: #fff;
	  stroke-width: 1.5px;
	}

	.edgePath path {
	  stroke: #333;
	  stroke-width: 1.5px;
	}
	</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Volvo BI Data Lineage</a>
  <!--<a href="{% url 'technology' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Technologies</a>-->
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">List Objects<i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{% url 'technology' %}" class="w3-bar-item w3-button">Technologies</a>
      <a href="{% url 'entity' %}" class="w3-bar-item w3-button">Entities</a>
      <a href="{% url 'application' %}" class="w3-bar-item w3-button">Applications</a>
      <a href="{% url 'node' %}" class="w3-bar-item w3-button">Nodes</a>
      <a href="{% url 'relation' %}" class="w3-bar-item w3-button">Relations</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Load Objects<i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{% url 'application_upload' %}" class="w3-bar-item w3-button">Applications Upload</a>
      <a href="{% url 'node_upload' %}" class="w3-bar-item w3-button">Nodes Upload</a>
      <a href="{% url 'relation_upload' %}" class="w3-bar-item w3-button">Relatinos Upload</a>
    </div>
  </div>
  <a href="{% url 'admin:index' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Admin</a>
  <!--<a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>-->
 </div>

  <!-- Navbar on small screens -->
 <!-- <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">Work</a>
    <a href="#pricing" class="w3-bar-item w3-button">Price</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>-->
  </div>
</div>




        {% block content %} {% endblock content %}



<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>