{% extends 'datalin/base.html' %}

{% block title %}Upload relations from Excel file{% endblock title %}
{% block content %}
<form class="w3-container" method="POST"  enctype="multipart/form-data" id="nodeForm"  >
    {% csrf_token %}


    <div class="w3-cell-row" style="width:75%">

            <p>
                <label for="id_name" class="w3-text-teal"><b>Choose xlsx file for relations upload</b></label>
                <input class="w3-input w3-border w3-light-grey" type="file" name="xlsx_file" maxlength="255" required=""
                       id="id_name">
            </p>
            <button type="submit" class="w3-btn w3-teal" id="submit">Upload</button>

           {% if rec_details %}
                <p><b>File uploaded successfully; out of {{ rec_details.total_rec }} number of records, the following operations happened: </b></p>
                {% if load_logs %}
                     <table class="w3-table w3-bordered w3-striped">
                        <tr class="w3-teal">
                          <th>Table name</th>
                          <th>SQL operation</th>
                          <th>Start Date</th>
                          <th>Duration (sec)</th>
                          <th>Row count</th>
                          <th>Success?</th>
                        </tr>
                        {% for log in load_logs %}
                         <tr>
                          <td>{{ log.table_name }}</td>
                          <td>{{ log.sql_operation }}</td>
                          <td>{{ log.start_timestamp }}</td>
                          <td>{{ log.duration_seconds }}</td>
                          <td>{{ log.row_count }}</td>
                          <td>{{ log.success_flag }}</td>
                         </tr>
                        {% endfor %}
                     </table>
                {% else %}
                    <p>Load has failed</p>
                {% endif %}
            {% endif %}

            <p>The Excel file should contain <b>Relations</b> sheet and the following fields in it; example input row provided as well:</p>

            <table class="w3-table w3-bordered w3-striped">
                <tr class="w3-teal">
                  <th>NODE_A</th>
                  <th>RELATION_TYPE</th>
                  <th>RELATION_LEVEL</th>
                  <th>NODE_B</th>
                </tr>
                 <tr>
                  <td>DV_SAT_SPITAB_PURCHASING_SERVICE</td>
                  <td>absorbs</td>
                  <td>1</td>
                  <td>DV_HUB_PURCHASING_SERVICE</td>
                </tr>
                 <tr>
                  <td>DV_SAT_GLOPPS_PART_DESC</td>
                  <td>belongs to</td>
                  <td>1</td>
                  <td>DV_GLOPPS</td>
                </tr>
            </table>


        </div>

  <p><a href="{% url 'index' %}">Return to home</a></p>

    </div>

</form>


{% endblock %}